<div class="unit one-fifth hide-on-mobiles">
  <aside>

    <h4>Getting Started</h4>
    <ul>
      <li class="{% if page.title == "Welcome" %}current{% endif %}">
        <a href="{{ site.url }}/docs/home">Welcome</a>
      </li>
      <li class="{% if page.title == "Installation" %}current{% endif %}">
        <a href="{{ site.url }}/docs/installation">Installation</a>
      </li>
      <li class="{% if page.title == "Basic Usage" %}current{% endif %}">
        <a href="{{ site.url }}/docs/usage">Basic Usage</a>
      </li>
    </ul>
      
    <h4>More Features</h4>
      <ul>
        <li class="{% if page.title == "Loading strategies" %}current{% endif %}">
          <a href="{{ site.url }}/docs/loading-strategies">Loading strategies</a>
        </li>
      </ul>

    <h4>Meta</h4>
    <ul>
      <li class="{% if page.title == "Contributing" %}current{% endif %}">
        <a href="{{ site.url }}/docs/contributing">Contributing</a>
      </li>
      <li class="{% if page.title == "History" %}current{% endif %}">
        <a href="{{ site.url }}/docs/history">History</a>
      </li>
      <li class="{% if page.title == "License" %}current{% endif %}">
        <a href="{{ site.url }}/docs/license">License</a>
      </li>
    </ul>

  </aside>
</div>
