<div class="note">
    <h5>Version 1.0.4</h5>
    <p>
        At the moment I am writing, version 1.0.4 is not released yet. But it will be
        released very soon.
    </p>
    <p>
        In the meantime, if you want to use this feature, you need to download the
        sources and cook your own jar file with version <tt>1.0.4-SNAPSHOT</tt>, or
        install it in your local maven repository.
    </p>
    <p>
        See <a href="{{ site.url }}/docs/building/">Building from sources</a> for
        details.
    </p>
</div>
