<!--
  ~ Copyright (c) 2013, Luigi R. Viggiano
  ~ All rights reserved.
  ~
  ~ This software is distributable under the BSD license.
  ~ See the terms of the BSD license in the documentation provided with this software.
  -->
<foo>
    fooValue
    <bar><![CDATA[ this contains tags that can break <xml> or properties foo=bar ]]></bar>
    <baz attr="bazValue"/>
    <qux value="quxValue">quux</qux>
</foo>
